WP_PORT=8080
WP_URL=http://localhost:8080
WP_TITLE="The Elevation Church Manchester"
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=change-me
WP_ADMIN_EMAIL=admin@elevationmanchester.local
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=change-me
DB_ROOT_PASSWORD=change-me
